.controls {
  box-sizing: border-box;
  width: 150px;
}

@media screen and (max-width: 800px) {
  .controls {
    width: 50%;
    order: 1;
  }
}

.controls__title {
  margin: 0;
}

.controls__button {
  border: 0;
  padding: 4px var(--primary-space, 8px);
  margin: 0;
  background: transparent;
  display: flex;
  text-align: center;
  border: 1px solid transparent;
}

/* .controls__button:hover {
  cursor: pointer;
} */

.controls__button:focus {
  outline: none;
  border-color: var(--highlight-color, #F5C416);
}

.controls__photo {
  width: 32px;
  border-radius: 50%;
}

.controls__icon {
  fill: var(--highlight-color, #F5C416);
}