aside
  ul
    li github
    li codepen
    li youtube
    li twitter

  ul
    li
      a(href="/index.html") About
    li
      a(href="/posts.html") Posts
    li
      a(href="/talks.html") Talks
    li
      a(href="/projects.html") Projects
