header#aside

  img(src="assets/img/afonso-pacifer.png" alt="Afonso Pacifer" srcset="assets/img/afonso-pacifer.png 1x, assets/img/afonso-pacifer-2x.png 2x" class="perfil-picture")

  span.perfil-user Afonso Pacifer

  ul.menu
    li.menu-item
      a(href="/index.html" class="menu-link") Home
    li.menu-item
      a(href="/posts.html" class="menu-link") Posts
    li.menu-item
      a(href="/videos.html" class="menu-link") Videos
    li.menu-item
      a(href="/talks.html" class="menu-link") Talks
    li.menu-item
      a(href="/projects.html" class="menu-link") Projects
    //- li.menu-item
    //-   a(href="/hire.html" class="menu-link") Hire me

  div.social-icons
    a(href="https://github.com/afonsopacifer" target="_blank" class="social-link")
      include ./svg-icons/github.pug

    a(href="http://codepen.io/afonsopacifer/" target="_blank" class="social-link")
      include ./svg-icons/codepen.pug

    a(href="https://www.youtube.com/channel/UC9d_htYmYYFUXB2vBKx4NgA" target="_blank" class="social-link")
      include ./svg-icons/youtube.pug

    a(href="https://twitter.com/afonsopacifer" target="_blank" class="social-link")
      include ./svg-icons/twitter.pug