aside#aside

  img(src="assets/img/afonso-pacifer.jpg" alt="Afonso Pacifer" srcset="assets/img/afonso-pacifer.jpg 1x, assets/img/afonso-pacifer-2x.jpg 2x" class="perfil-picture")

  a(href="https://github.com/afonsopacifer" target="_blank")
    include ./svg-icons/github.pug

  a(href="http://codepen.io/afonsopacifer/" target="_blank")
    include ./svg-icons/codepen.pug

  a(href="https://www.youtube.com/channel/UC9d_htYmYYFUXB2vBKx4NgA" target="_blank")
    include ./svg-icons/youtube.pug

  a(href="https://twitter.com/afonsopacifer" target="_blank")
    include ./svg-icons/twitter.pug

  ul
    li
      a(href="/index.html") About
    li
      a(href="/posts.html") Posts
    li
      a(href="/talks.html") Talks
    li
      a(href="/projects.html") Projects
