:root {

  /* Layout colors */

  --page-background-color: #0d0d0d;
  --bar-background-color: #1c1c1c;
  --highlight-color: #98b0ff;

  /* Texts colors */
  
  --headings-color: #e8e8e8;
  --text-color: #cccccc;
  --text-highlights-color: #2a2a2a;

  /* Spacing patterns */

  --page-width: 880px;
  --bar-height: 48px;
  --primary-space: 8px;
  --secondary-space: 16px;
  --tertiary-space: 32px;

  /* Breakpoints */

}