.tag {
  display: inline-block;
  background-color: #575757;
  padding: 4px 8px;
  color: #fff;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: var(--primary-space, 8px);
  margin-right: var(--primary-space, 8px);
  margin-bottom: var(--primary-space, 8px);
  margin-left: 0;
  letter-spacing: 1px;
}

.tag--pt-br {
  background-color: #a9eb80;
  color: var(--text-highlights-color, #2F2F2F);
}

.tag--en {
  background-color: #eb809b;
  color: var(--text-highlights-color, #2F2F2F);
}

.tag--zh {
  background-color: #f4f4f4;
  color: var(--text-highlights-color, #2F2F2F);
}

.tag--date {
  background-color: var(--highlight-color);
  color: var(--text-highlights-color, #2F2F2F);
}

.tag--front-end {
  background-color: #f16529;
}

.tag--back-end {
  background-color: #b3db45;
  color:#222222;
}

.tag--cli {
  background-color: #5cd8e7;
  color:#222222;
}

.tag--design {
  background-color: #bc28d0;
}

@keyframes gradient-rainbow {
  0% { background-position: 0% 50%; transform: scale(1); }
  100% { background-position: 100% 50%; transform: scale(1.1); }
}

.tag--new  {
  background: linear-gradient(to right, rgb(244, 159, 98), rgb(229, 255, 0));
  background-size: 200% 100%;
  animation: gradient-rainbow .4s linear infinite alternate;
  color: #000;
}