.price-card {
  background-color: var(--page-background-color);
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  margin: 16px;
  padding-bottom: var(--secondary-space, 16px);
  box-shadow: 4px 4px 8px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
}

.price-card__header {
  padding: var(--secondary-space, 16px);
  background-color: rgb(43 43 43);
}

.price-card__heading {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin: var(--secondary-space, 16px) 0;
}

.price-card__heading--lv1 {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  min-height: 50px;
}

.price-card__heading--lv2 {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

.price-card__heading--lv3 {
  font-weight: 300;
  font-size: 16px;
  color: var(--text-color);
}

.price-card__list {
  margin: 0;
  text-align: left;
  padding-top: var(--secondary-space, 16px);
  padding-bottom: var(--secondary-space, 16px);
}

.price-card__item {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="lightgreen"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>');
  padding-inline-start: 1ch;
  margin: var(--secondary-space, 16px) 0;
  line-height: 24px;
}

.price-card__button {
  min-width: 80%;
  box-sizing: border-box;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--secondary-space, 16px);
  margin-top: auto;
  padding: var(--secondary-space, 16px);
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: 3px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: background-color .1s, color .1s;
}
  
.price-card__button:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
  color: var(--page-background-color);
}

.price-card__button:active {
  opacity: .4;
}

.price-card__button:focus-visible {
  outline: none;
  background-color: var(--highlight-color);
  color: var(--page-background-color);
}

.price-card__button[disabled] {
  color: var(--page-background-color);
  background: #efefef;
  opacity: .7;
  border-color: #efefef;
}

.price-card__button[disabled]:hover {
  cursor: not-allowed;
}