.video-container {
  width: 100%;
  position: relative;
  background-color: #000;
  min-height: 200px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 490px) {
  .video-container {
    margin-top: 97px;
  }
}

.video-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.video {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.video:before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  left: 0;
  z-index: 2;
}

.video:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to left, #000, transparent);
  top: 0;
  right: 0;
  z-index: 2;
}

.video__player {
  width: 100%;
  position: relative;
  height: 100%;
  max-height: 800px;
  opacity: 0;
  animation: show 1s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video__text {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--headings-color);
  position: absolute;
  bottom: calc(50% - 80px);
  left: 0;
  font-size: 72px;
  z-index: 3;
  opacity: 0;
  animation: show 1s 1s forwards;
  text-align: center;
  background: -webkit-linear-gradient(-75deg, #f17979, var(--highlight-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .video__text {
    font-size: 42px;
    bottom: 30px;
  }
}

@media screen and (max-width: 630px) {
  .video__text {
    font-size: 32px;
    bottom: 10px;
  }
}

@media screen and (max-width: 530px) {
  .video__text {
    font-size: 26px;
    bottom: 0;
  }
}

.video__text--highlight {
  color: var(--highlight-color, #F5C416);
}

.video__warning {
  position: absolute;
  z-index: 3;
  bottom: 32px;
  left: calc(50% - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: jump .4s infinite alternate ease-in;
  opacity: .5;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid transparent;
  padding: var(--primary-space);
}

@media screen and (max-width: 800px) {
  .video__warning {
    display: none;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.video__warning:hover {
  opacity: 1;
}

.video__warning:hover > .video__warning__text {
  transform: translateY(8px);
}

.video__warning:active {
  opacity: .4;
}

.video__warning:focus {
  outline: none;
}

.video__warning:focus-visible {
  opacity: 1;
  border-color: var(--highlight-color, #F5C416);
}

.video__warning:focus-visible  > .video__warning__text {
  transform: translateY(8px);
}

.video__warning__text {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  transform: translateY(-24px);
  transition: transform .3s;
}

.video__warning__text:hover {
  cursor: default;
}

.video__warning__icon {
  width: 56px;
  fill: #fff;
}