extends ../layouts/blog.pug

block page_infos
	-var title = ""
	-var description = ""
	-var date = "Jan 10 2017"

block content

	:markdown-it(linkify langPrefix='highlight-')

		# BEM: A árvore de lego

		![Estrutura de exemplo com BEM](#)

		BEM (Block Element Model) é uma metodologia de organização de CSS que vem com a proposta de auxiliar na construção de componentes através de padrões de escrita de seletores.

		> **TIP:** Lendo nosso no artigo sobre SMACSS, entendemos que ele é focado na organização e classificação dos arquivos, nessa organização temos os arquivos classificamos como ‘modules’, que são todos os componentes da interface. Segundo o próprio criador do BEM, podemos utilizá-lo perfeitamente para trabalhar com os módulos do SMACSS, essa prática é muito utilizada e até recomendada.

		## Block
		 São literalmente os blocos ou módulos de nossa página, pedaços da interface isolados que podem ser utilizados em qualquer parte da aplicação.

		## Element
		São os elementos que compõem os blocos, são os filhos elemento bloco que por sua vez tem sua relação expressa através da repetição do nome do pai + ‘__’ + nome do elemento.

		## Modifier
		Como o nome diz, são os modificadores que são utilizados para manipular os estados tanto dos blocks como dos elements.Temos como exemplo vários estados como active, open, closed, etc..
		A sintax para utilização de um modifier é o nome do block ou element + ‘--’ + nome do modificador.


		> Esse artigo foi fácilitado pelo projeto **CSShortcut**, para se aprofundar e aprender alguns **segredos do SMACSS** além de muitas outras técnicas para tornar seu **CSS ultra descolado**, não exitem em dar uma olhada na proposta do **curso** em csshortcut.github.io
