extends ../layouts/blog.pug

block page_infos
	-var title = ""
	-var description = ""

block content

	:markdown-it(linkify langPrefix='highlight-')

		# Retrospectiva 2016: O ano das 100 coisas dev

		Confesso que me achei bem vagabundo esse ano, mas foi só começar a listar as coisas que aconteceram que veio o choque, COMO EU FIZ ISSO TUDO?

		No final de 2015 eu queria muito fazer um post de retrospecitiva, mas COMO

		## Desafio de 100 coisas dev em 2016
		## Artigos
		## Videos
		## Palestras

		## 10 momentos mágicos

		### Helabs
		### Desenho do Jake
		originou uma serie de posts
		### Canal no Youtube
		### Maujor e Front in Rio
		### Write Code Every Day
		### Google Brasil
		william
		### Sampa.JS
		post gui
		### Front Week SP
		post
		### Criar meu próprio pré-processador CSS
		### Abraço no Front in Valle
		### Criar curso curso com a melhor deginer do mundo

		## Conclusão
