.menu {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 100%;
    margin-bottom: var(--primary-space, 8px);
    order: 0;
    flex: auto;
  }
}

.menu-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .menu-list {
    display: flex;
    justify-content: space-between;
  }
}

.menu-list__item {
  display: inline-block;
}

.menu-list__link {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: var(--primary-space, 8px);
  transition: opacity .2s;
  border: 1px solid transparent
}

.menu-list__link:hover {
  opacity: 0.8;
}

.menu-list__link:focus {
  outline: none;
  border-color: var(--secondary-color, #F5C416);
}

.menu-list__link--active {
  color: var(--secondary-color, #F5C416);
}