.button {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin-right: var(--primary-space, 8px);
  text-decoration: none;
  margin-top: var(--primary-space, 8px);
  margin-bottom: var(--primary-space, 8px);
  background-color: transparent;
}

.button__content {
  box-sizing: border-box;
  padding: var(--primary-space, 8px) var(--secondary-space, 16px);
  background-color: var(--page-background-color, #fff);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--text-color, #2F2F2F);
  border: 1px solid var(--text-color, #2F2F2F);
  transition: box-shadow .2s, opacity .2s;
  display: inline-flex;
  align-items: center;
  letter-spacing: 1px;
}

.button__content svg {
  width: 18px;
  fill: var(--text-color, #2F2F2F);
  margin-right: var(--primary-space, 8px);
}

.button__content:hover svg {
  fill: var(--highlight-color, #F5C416);
}

.button:hover > .button__content {
  cursor: pointer;
  box-shadow: 4px 5px var(--highlight-color, #F5C416);
}

.button:active > .button__content {
  transition: box-shadow .08s;
  opacity: 0.8;
  box-shadow: 2px 3px var(--highlight-color, #F5C416);
}

.button:focus > .button__content {
  text-decoration: underline;
  box-shadow: 4px 5px var(--highlight-color, #F5C416);
}

.button:focus,
.button__content:focus {
  outline: none;
}

.button--disabled {
  opacity: .6;
}

.button--disabled:hover > .button__content {
  cursor: no-drop;
  box-shadow: none;
}

.button--disabled:active > .button__content {
  transition: none;
  opacity: 1;
  box-shadow: none;
}

.button .button__toggle__icon {
  margin-right: 0;
  margin-left: var(--primary-space, 8px);
  transition: transform .5s;
  width: 12px;
}

.button[aria-pressed=true] .button__content {
  border-color: var(--highlight-color);
}

.button[aria-pressed=true] .button__toggle__icon {
  fill: var(--highlight-color);
  transform: rotate(-180deg);
}