.date {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 var(--primary-space, 8px) 0;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  padding: 0;
  color: var(--primary-color, #2F2F2F);
}