.comment-bar-container {
  display: flex;
}

.comment-bar {
  background-color: var(--bar-background-color);
  padding: var(--secondary-space);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: var(--secondary-space) 0;
}

.comment-bar__title {
  display: block;
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  color: var(--highlight-color, #F5C416);
  font-weight: 300;
  margin-bottom: var(--primary-space);
}

.comment-bar__text {
  display: block;
  width: 100%;
  line-height: 20px;
  letter-spacing: 1px;
  color: var(--text-color, #2F2F2F);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}