extends ./layouts/classic.pug

block page_infos
	-var title = ""
	-var description = ""

block content

		h1.heading-lv1 Hello!

		p.paragraph I am a brazillian CSS full time CSS Evangelist and Open Sourde Developer.

		p.paragraph Front-end

		p.paragraph Co founder and teacher at <a href="#" class="text-link">@csshortcut</a> project.

		p.paragraph Host of a youtube channel called <a href="#" class="text-link">@csscastshow</a>

		p.paragraph Alpha Team member at <a href="#" class="text-link">@css-brasil</a>

		p.paragraph Creator of <a href="#" class="text-link">@bananacss</a> a brazillian CSS superset written in Node.JS focused in Plataform features <a href="#" class="text-link">some other coll projects</a>

		p.paragraph Volluntier Instructor at <a href="#" class="text-link">@webschool-io</a>

		p.paragraph Speaker

		p.paragraph Contactme afonsopacifer@live.com. XOXO
