extends ./layouts/classic.pug

block page_infos
	-var title = ""
	-var description = ""

block content

		div.container
			h1 Hello! I'm Afonso <i class="em em-sunglasses"></i>

			p CSS Evangelist / Work at <a href="#">@csshortcut</a> / Host of @csscastshow / Alpha Team member at @css-brasil / Creator of @bananacss / Instructor at @webschool-io
