extends ./layouts/classic.pug

block page_infos
	-var title = ""
	-var description = "";

block content

		h1.heading-lv1 Hello Lek!

		p.paragraph I am a CSS Evangelist and Full Time Open Source Developer. I work with Co-fouder and content manager of <a href="https://csshortcut.github.io/" class="text-link">@csshortcut</a>, host on <a href="https://www.youtube.com/c/CSSCastShows" class="text-link">@csscasthow</a> youtube channel, community  moderator in Front-end Meetup Group Rio de Janeiro (<a href="https://www.facebook.com/femugrj/" class="text-link">@femug-rj</a>), volunteer teacher in <a href="https://github.com/Webschool-io" class="text-link">@webschool-io</a> and alpha team member of <a href="https://github.com/css-brasil" class="text-link">@css-brasil</a>.


		//- p.paragraph Defensor do uso da plataforma nativa para a criação de aplicações Web, hoje seu trabalho não é ir contra frameworks e bibliotecas, mas sim, tentar evitar que os mesmo não deixem os desenvolvedores cegos perante as maravilhas que a plataforma nativa tem a oferecer.

		p.paragraph Creator of <a href="#" class="text-link">@bananacss</a> (CSS preprocessor focused in the platform features) and <a href="#" class="text-link">some other coll projects</a>.

		p.paragraph Contact me with afonsopacifer@live.com
