extends ./layouts/classic.pug

block page_infos
	-var title = "Articles - Afonso Pacifer"
	-var description = "List of articles written by Afonso Pacifer."

block content

	h1(class="heading-lv1") Posts

	include ./mixins/post-box.pug

	h2(class="heading-lv2") 2017

	for post17 in articles_2017
		if !post17.draft
			+postBox(post17.date, post17.url, post17.name, post17.lang, post17.local)

	h2(class="heading-lv2") 2016

	for post16 in articles_2016
		if !post16.draft
			+postBox(post16.date, post16.url, post16.name, post16.lang, post16.local)

	h2(class="heading-lv2") 2015

	for post15 in articles_2015
		if !post15.draft
			+postBox(post15.date, post15.url, post15.name, post15.lang, post15.local)
