extends ./layouts/classic.pug

block page_infos
	-var title = "Projects - Afonso Pacifer"
	-var description = "List of open source projects developed by Afonso Pacifer."

block content

	h1(class="heading-lv1") Open Source Projects

	include ./mixins/project-box.pug

	h2(class="heading-lv2") 2017

	for projects17 in projects_2017
		+projectBox(projects17.date, projects17.url, projects17.name, projects17.description, projects17.tech)

	h2(class="heading-lv2") 2016

	for projects16 in projects_2016
		+projectBox(projects16.date, projects16.url, projects16.name, projects16.description, projects16.tech)

	h2(class="heading-lv2") 2015

	for projects15 in projects_2015
		+projectBox(projects15.date, projects15.url, projects15.name, projects15.description, projects15.tech)

	h2(class="heading-lv2") 2014

	for projects14 in projects_2014
		+projectBox(projects14.date, projects14.url, projects14.name, projects14.description, projects14.tech)
