extends ./layouts/classic.pug

block page_infos
	-var title = "Talks - Afonso Pacifer"
	-var description = "Talks presented by Afonso Pacifer."

block content

	h1(class="heading-lv1") Talks

	include ./mixins/talk-box.pug

	h2(class="heading-lv2") 2017

	for talk17 in talks_2017
		+talkBox(talk17.date, talk17.video, talk17.event, talk17.theme, talk17.attendees, talk17.local, talk17.address, talk17.slides)

	h2(class="heading-lv2") 2016

	for talk16 in talks_2016
		+talkBox(talk16.date, talk16.video, talk16.event, talk16.theme, talk16.attendees, talk16.local, talk16.address, talk16.slides)

	h2(class="heading-lv2") 2015

	for talk15 in talks_2015
		+talkBox(talk15.date, talk15.video, talk15.event, talk15.theme, talk15.attendees, talk15.local, talk15.address, talk15.slides)
