extends ./layouts/classic.pug

block page_infos
	-var title = "Videos - Afonso Pacifer"
	-var description = "List of cools screecast by Afonso Pacifer."

block content

	h1(class="heading-lv1") Videos

	include ./mixins/video-box.pug

	h2(class="heading-lv2") 2017

	for video17 in videos_2017
		+videoBox(video17.date, video17.url, video17.theme, video17.lang, video17.time)

	h2(class="heading-lv2") 2016

	for video16 in videos_2016
		+videoBox(video16.date, video16.url, video16.theme, video16.lang, video16.time)
