doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	head

		//- head metas
		//- ===========================================
		include ./../includes/head-metas.pug

		//-  Styles
		//- ===========================================
		link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")
		link(rel="stylesheet" href="assets/styles/main.css")

		//- Fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet")

	body(data-senna)

		//- header
		//- ===========================================
		include ./../includes/aside.pug

		//- main
		//- ===========================================
		main(id="content" data-senna-surface)
			section.container.blog
				block page_infos
				span.text-date=date

				block content

				span.comment Leave your comment

				div(id="disqus_thread" class="disqus")

				include ./../includes/disqus.html

		//- bottom requests
		//- ===========================================
		//- include ./../includes/analytics.html

		script(type="text/javascript" src="assets/scripts/vendors/senna-min.js")
		script(type="text/javascript" src="assets/scripts/main.js" async)
