doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	head

		//- head metas
		//- ===========================================
		include ./../includes/head-metas.pug

		//-  Styles
		//- ===========================================
		link(rel="stylesheet" href="assets/styles/index.css")

		//- Fonts
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet")

	body(data-senna)

		//- Github corner
		//- ===========================================
		include ./../includes/github-corner.html

		//- header
		//- ===========================================
		include ./../includes/aside.pug

		//- main
		//- ===========================================
		main(id="main" data-senna-surface)
			div.main__container
				block content

		//- bottom requests
		//- ===========================================
		include ./../includes/analytics.html

		script(type="text/javascript" src="https://cdn.jsdelivr.net/senna.js/2.1.5/senna-min.js")
		script(type="text/javascript" src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js")
		script(type="text/javascript" src="assets/scripts/main.js")
